<!DOCTYPE html>
<html lang="es">
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Control Gastos</h1>
            </div>
            <nav>
                <ul>
                    <li class="left">Control de Gastos</li>
                    <li class="right"><a routerLink="/login">Inicia sesión</a></li>
                    <li class="right"><a routerLink="/registrarse">Registrarte</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <div class="image-container">
                <img src="https://th.bing.com/th/id/OIP.W-do9g-uteeIu87gYRPU1AHaHa?rs=1&pid=ImgDetMain" style="width: 40%;">
            </div>
        </main>
    </div>
</body>
</html>