<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="inicio-usuario.component.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Bienvenido</h1>
            </div>
            <nav>
                <ul>
                    <li class="left">Control de Gastos</li>
                    <li class="right"><a routerLink="/inicio-usuario"></a><i class="fas fa-bell"></i></li>
                    <li class="right"><a routerLink="/agenda">Agendar</a></li>
                    <li class="right"><a routerLink="/resumen">Resumen</a></li>
                    <li class="right"><a routerLink="/home">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <section class="gastos">
                <div class="card">
                    <div class="face front">
                        <img src="" alt="">
                        <h3>Gastos</h3>
                    </div>
                    <div class="face back">
                        <h2>Gasto</h2>
                        <p>
                            Lorem Ipsum dolor sit amet consectetur
                            adipisicing elit. A asperiores consequatur
                            iure possimus tempora rem sequi quisquam optio deserunt vel?
                        </p>
                        <div class="enlace">
                            <a class="custom-btn custom-btn-primary" routerLink="/gastos/list">Agregar Gasto</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face front">
                        <img src="img/imagen-fifa.jpg" alt="">
                        <h3>Ingresos</h3>
                    </div>
                    <div class="face back">
                        <h2>Ingreso</h2>
                        <p>
                            Lorem Ipsum dolor sit amet consectetur
                            adipisicing elit. A asperiores consequatur
                            iure possimus tempora rem sequi quisquam optio deserunt vel?
                        </p>
                        <div class="enlace">
                            <a class="custom-btn custom-btn-primary" routerLink="/ingreso/list">Agregar Ingreso</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face front">
                        <img src="img/imagen-fifa.jpg" alt="">
                        <h3>Servicios</h3>
                    </div>
                    <div class="face back">
                        <h2>Servicio</h2>
                        <p>
                            Lorem Ipsum dolor sit amet consectetur
                            adipisicing elit. A asperiores consequatur
                            iure possimus tempora rem sequi quisquam optio deserunt vel?
                        </p>
                        <div class="enlace">
                            <a class="custom-btn custom-btn-primary" routerLink="/servicio/list">Agregar Servicio</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
